header {
    top: 0;
}
header + section{
    margin-top: 90px;
}

.blogBigHolder {
    max-width: 1227px;
    margin:-50px auto 0;
}
.blogBigHolder h2 {
    font-family: var(--abril);
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
}
.blogBigHolder .item{position: relative;}
.blogBigHolder .bigBlogSubInfo{
    position: absolute;
    text-align: left;
    bottom: 0;
    padding: 30px 30px 50px;
    box-shadow: inset 0 -140px 91px -60px rgba(0,0,0,.3);
    left: 0;
    right: 0;
}
.blogBigHolder .bigBlogSubInfo h4, .blogHolder .bigBlogSubInfo h4 {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.blogBigHolder .bigBlogSubInfo h2, .blogHolder .bigBlogSubInfo h2 {
    font-size: 40px;
    color: #fff;
    font-family: var(--abril);
    font-weight: 300;
    line-height: 42px;
    max-width: 80%;
}
.blogBigHolder .owl-theme .owl-controls .owl-buttons div {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    height: 20px;
    width: 70px;
    background: transparent;
    opacity: 0;
}
.blogBigHolder .owl-theme .owl-buttons .owl-prev{left: 0px;}
.blogBigHolder .owl-theme .owl-buttons .owl-prev:before {
    content: '←';
    font-size: 46px;
    font-weight: 200;
    color: var(--red-color);
}
.blogBigHolder .owl-theme .owl-buttons .owl-next{right: 0px;}
.blogBigHolder .owl-theme .owl-buttons .owl-next:before{
    content: '→';
    font-size: 46px;
    font-weight: 200;
    color: var(--red-color);
}
.blogBigHolder:hover .owl-theme .owl-controls .owl-buttons div{opacity: 1}
.blogHolder {
    display: table;
    width: 96%;
    background-color: var(--grey-color);
    margin: 0 auto 100px;
}
.blogHolderSection.grey{background-color: var(--white-color);}
.blogHolder .firstBlockBlog {width: 68%;display: table-cell;vertical-align: top;position: relative;}
.blogHolder .secondBlockBlog {width: 32%;display: table-cell;vertical-align: top;padding: 50px 50px;}
.blogHolder .secondBlockBlog h2, .blogHolder .secondBlockBlog h4 {color: #4a4a4a}
.blogHolder .secondBlockBlog h2 {
    max-width: 100%;
    font-size: 30px;
    line-height: 36px;
}
.blogHolder .secondBlockBlog h4 {
    font-size: 17px;
    margin-bottom: 20px;
}
.blogHolder .firstBlockBlog .bigBlogSubInfo {
    position: absolute;
    bottom: 0;
    padding: 50px;
    box-shadow: inset 0 -206px 148px -100px rgba(0,0,0,.5);
}
.blogHolder .secondBlockBlog .bigBlogSubInfo {
    margin-top: 40px;
}
.blogHolder .secondBlockBlog h2.blockHeading {
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -20px;
    margin-bottom: 10px;
}






.blogHeaderHolder {
    height: 300px;
    background-color: var(--red-color);
    text-align: center;
    display: table;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.blogHeaderHolder:before {
    content: '';
    display: block;
    position: absolute;
    font-family: arial;
    font-weight: 900;
    font-size: 230px;
    letter-spacing: -11px;
    opacity: 0.06;
    right: 0%;
    bottom: -15px;
    line-height: 200px;
}
.react .blogHeaderHolder:before {
    content: 'React';
}
.blogHeaderHolder h1 {
    font-size: 75px;
    font-family: var(--abril);
    color: #fff;
    font-weight: 300;
    display: table-cell;
    vertical-align: middle;
    line-height: 50px;
}
.blogHeaderHolder h1 span {
    font-size: 40px;
    font-family: var(--abril);
    color: #fff;
    font-weight: 300;
    display: block;
    line-height: 80px;
}
.blogContentHolder p {
    font-size: 24px;
    font-weight: 400;
    color: #666;
    line-height: 30px;
    margin-bottom: 50px;
    line-height: 33px;
}
.blogContentHolder p span.highlight {
    color: var(--red-color);
    font-weight: 600;
}
.blogContentHolder pre[class*="language-"] {
    margin: 50px 0;
    padding: 40px 50px;
}
.blogContentHolder h3.contentInHeading {
    font-size: 35px;
    color: #4a4a4a;
    font-weight: 600;
    margin: 40px 0 15px;
}