header {
    top: 0;
}
header + section{
    margin-top: 90px;
}

.blogBigHolder {
    max-width: 1350px;
    margin:-50px auto 0;
}
.blogBigHolder h2 {
    font-family: var(--abril);
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
}
.blogBigHolder .item{position: relative;}
.blogBigHolder .bigBlogSubInfo{
	position: absolute;
    text-align: left;
    bottom: 0;
    padding: 30px 30px 50px;
    box-shadow: inset 0 -140px 91px -60px rgba(0,0,0,.3);
    left: 0;
    right: 0;
}
.blogBigHolder .bigBlogSubInfo h4, .blogHolder .bigBlogSubInfo h4 {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.blogBigHolder .bigBlogSubInfo h2, .blogHolder .bigBlogSubInfo h2 {
    font-size: 40px;
    color: #fff;
    font-family: var(--abril);
    font-weight: 300;
    line-height: 42px;
    max-width: 80%;
}
.blogBigHolder .owl-theme .owl-controls .owl-buttons div {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    height: 20px;
    width: 70px;
    background: transparent;
    opacity: 0;
}
.blogBigHolder .owl-theme .owl-buttons .owl-prev{left: 0px;}
.blogBigHolder .owl-theme .owl-buttons .owl-prev:before {
    content: '←';
    font-size: 46px;
    font-weight: 200;
    color: var(--red-color);
}
.blogBigHolder .owl-theme .owl-buttons .owl-next{right: 0px;}
.blogBigHolder .owl-theme .owl-buttons .owl-next:before{
	content: '→';
    font-size: 46px;
    font-weight: 200;
    color: var(--red-color);
}
.blogBigHolder:hover .owl-theme .owl-controls .owl-buttons div{opacity: 1}
.blogHolder {
    display: table;
    width: 96%;
    background-color: var(--grey-color);
    margin: 0 auto 100px;
}
.blogHolderSection.grey{background-color: var(--white-color);}
.blogHolder .firstBlockBlog {width: 68%;display: table-cell;vertical-align: top;position: relative;}
.blogHolder .secondBlockBlog {width: 32%;display: table-cell;vertical-align: top;padding: 50px 50px;}
.blogHolder .secondBlockBlog h2, .blogHolder .secondBlockBlog h4 {color: #4a4a4a}
.blogHolder .secondBlockBlog h2 {
    max-width: 100%;
    font-size: 30px;
    line-height: 36px;
}
.blogHolder .secondBlockBlog h4 {
    font-size: 17px;
    margin-bottom: 20px;
}
.blogHolder .firstBlockBlog .bigBlogSubInfo {
    position: absolute;
    bottom: 0;
    padding: 50px;
    box-shadow: inset 0 -206px 148px -100px rgba(0,0,0,.5);
}
.blogHolder .secondBlockBlog .bigBlogSubInfo {
    margin-top: 40px;
}
.blogHolder .secondBlockBlog h2.blockHeading {
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -20px;
    margin-bottom: 10px;
}






.blogHeaderHolder {
    height: 300px;
    background-color: var(--red-color);
    text-align: center;
    display: table;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.blogHeaderHolder:before {
    content: '';
    display: block;
    position: absolute;
    font-family: arial;
    font-weight: 900;
    font-size: 230px;
    letter-spacing: -11px;
    opacity: 0.06;
    right: 0%;
    bottom: -15px;
    line-height: 200px;
}
.react .blogHeaderHolder:before {
    content: 'React';
}
.blogHeaderHolder h1 {
    font-size: 75px;
    font-family: var(--abril);
    color: #fff;
    font-weight: 300;
    display: table-cell;
    vertical-align: middle;
    line-height: 50px;
}
.blogHeaderHolder h1 span {
    font-size: 40px;
    font-family: var(--abril);
    color: #fff;
    font-weight: 300;
    display: block;
    line-height: 80px;
}
.blogContentHolder p {
    font-size: 24px;
    font-weight: 400;
    color: #666;
    line-height: 30px;
    margin-bottom: 50px;
    line-height: 33px;
}
.blogContentHolder p span.highlight {
    color: var(--red-color);
    font-weight: 600;
}
.blogContentHolder pre[class*="language-"] {
    margin: 50px 0;
    padding: 40px 50px;
}
.blogContentHolder h3.contentInHeading {
    font-size: 35px;
    color: #4a4a4a;
    font-weight: 600;
    margin: 40px 0 15px;
}

#disqus_thread{position: relative;}
div#disqus_thread:before {
    content: ' ';
    display: block;
    height: 60px;
    background-color: #f9f9f9;
    position: absolute;
    z-index: 999;
    bottom: 0;
    width: 100%;
}
.code-editor iframe {
    height: 500px;
    width: 100%;
    display: block;
}
.code-editor:after {
    content: ' ';
    height: 22px;
    display: block;
    background-color: var(--grey-color);
    position: relative;
    bottom: 22px;
    border-top: 1px solid #ccc;
}







/*Responsive css for mobile*/

@media (max-width: 767px){

.blogBigHolder {
    margin: 0px auto 0;
}
.blogBigHolder h2 {
    font-size: 35px;
    margin-bottom: 20px;
    line-height: 30px;
}
.blogBigHolder .bigBlogSubInfo {
    text-align: center;
    bottom: 0;
    padding: 10px;
    box-shadow: none;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0.35);
    padding-top: 38px;
}
.blogBigHolder .bigBlogSubInfo h4, .blogHolder .bigBlogSubInfo h4 {
    font-size: 13px;
    margin-bottom: 8px;
}
.blogBigHolder .bigBlogSubInfo h2, .blogHolder .bigBlogSubInfo h2 {
    font-size: 22px;
    font-family: var(--abril);
    font-weight: 300;
    line-height: 24px;
    max-width: 100%;
    margin: 0 auto;
}
.blogHolder {
    display: block;
    width: 100%;
    margin: 0 auto 0px;
}
.blogHolder .firstBlockBlog, .blogHolder .secondBlockBlog {
    width: 100%;
    display: block;
}
.blogHolder .firstBlockBlog, .blogHolder .secondBlockBlog {
    width: 100%;
    display: block;
    padding: 0px;
    border-bottom: 30px solid #fff;
}
.blogHolder .secondBlockBlog h2.blockHeading {
    display: none;
}
.blogHolder .secondBlockBlog .bigBlogSubInfo {
    margin-top: 0;
    padding: 20px;
}
.blogHolder .firstBlockBlog .bigBlogSubInfo {
    position: static;
    padding: 20px;
    box-shadow: none;
}
.blogHolder .bigBlogSubInfo h4, .blogHolder .bigBlogSubInfo h2 {
    color: #4a4a4a;
}
}







/*Responsive css for tab*/

@media (min-width: 768px) and (max-width: 1024px){
    .blogBigHolder {
    margin: 0px auto 0;
}
.blogBigHolder h2 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 40px;
}
.blogBigHolder .bigBlogSubInfo {
    padding: 30px;
    box-shadow: inset 0 -140px 91px -60px rgba(0,0,0,.3);
}
.blogBigHolder .bigBlogSubInfo h4, .blogHolder .bigBlogSubInfo h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
.blogBigHolder .bigBlogSubInfo h2{
    font-size: 32px;
    line-height: 36px;
    max-width: 95%;
    margin-bottom: 0px;
}
.blogHolder {
    width: 100%;
    margin: 40px 0 0;
}
.blogHolder .firstBlockBlog .bigBlogSubInfo {
    padding: 30px;
    box-shadow: inset 0 -227px 61px -102px rgba(0,0,0,.5);
}
.blogBigHolder .bigBlogSubInfo h2, .blogHolder .bigBlogSubInfo h2 {
    font-size: 32px;
    line-height: 36px;
    max-width: 90%;
}
.blogHolder .secondBlockBlog, .blogHolder .firstBlockBlog {
    width: 100%;
    display: block;
    padding: 0;
    position: relative;
    max-height: 300px;
    overflow: hidden;
}
.blogHolder .secondBlockBlog h2.blockHeading {
    display: none;
}
.blogHolder .secondBlockBlog .bigBlogSubInfo {
    padding: 30px;
    box-shadow: inset 0 -216px 130px -134px rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
}
.blogHolder .secondBlockBlog .bigBlogSubInfo h4, .blogHolder .secondBlockBlog .bigBlogSubInfo h2{
    color: #fff;
}

.blogHolder .firstBlockBlog {
    margin-bottom: 40px;
}

















@media (max-width: 767px){

.blogContentHolder pre[class*="language-"] {
    margin: 40px 0;
    padding: 40px 40px;
    display: block;
}
.blogContentHolder p {
    font-size: 20px;
    color: #666;
    line-height: 30px;
    margin-bottom: 40px;
    line-height: 28px;
}
.blogContentHolder h3.contentInHeading {
    font-size: 27px;
}

.blogHeaderHolder {
    height: auto;
    padding: 30px 0;
}
.blogHeaderHolder h1 {
    font-size: 45px;
    line-height: 50px;
}
.blogHeaderHolder h1 span {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}
.blogHeaderHolder:before{display: none;}
}