.home header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

section.home .bodyContainer {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  width: 88%;
  margin: 0 auto;
  align-items: center;
}

.main-img {
  position: relative;
  right: 0%;
  width: 50vh;
}

.bodyContainer.action .main-img {
  right: 0%;
}
.bodyContainer.action .main-img:after {
  width: 0%;
}
.content {
  position: relative;
  left: 0%;
  max-width: calc(100% - 385px - 100px);
}
.bodyContainer.action .content {
  left: 0;
}
.home .social {
  opacity: 0;
}
.content h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-family: arial;
  line-height: 1em;
}

.content h1.one {
  font-size: 2.5vw;
  margin-bottom: 30px;
  position: relative;
  left: 6px;
  letter-spacing: -1px;
}
.content h1.two {
  font-size: 4.2vw;
  letter-spacing: -6px;
  line-height: 3vw;
}
.content h1.three {
  font-size: 6.3vw;
  letter-spacing: -8px;
  line-height: 6.5vw;
  position: relative;
  left: -3px;
}

.content h1.one span {
  font-weight: 900;
  font-family: arial;
  font-size: 2.5vw;
}
.content ul.nav li a:hover {
  color: #d23669;
}
.home header ul.nav {
  display: none;
}
.content ul.nav {
  margin-top: 80px;
  position: relative;
  left: -16px;
}

@media (max-width: 1024px) {
  .home header.openNav {
    box-shadow: 0px -3px 7px #666;
  }
  section.home .bodyContainer {
    height: auto;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
  }
  .content {
    max-width: 100%;
    order: 2;
    margin-top: 30px;
    text-align: center;
  }
  .content h1 {
    font-weight: 400;
  }
  .main-img {
    width: 85%;
  }
  .content h1.one {
    font-size: 20px;
    left: 0px;
    margin-bottom: 12px;
  }
  .content h1.one span {
    font-size: 20px;
  }
  .content h1.two {
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 25px;
  }
  .content h1.three {
    font-size: 35px;
    letter-spacing: -2px;
    line-height: 35px;
    left: -1px;
    position: relative;
    font-weight: 900;
  }
  .social {
    bottom: 5%;
  }
  .content ul.nav {
    margin-top: 30px;
    left: 0;
  }
  img.quote {
    width: 70%;
    position: fixed;
    bottom: 11%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  section.home .bodyContainer {
    margin-top: 130px;
  }
  .main-img img {
    margin: 0 auto;
  }
  .content h1.one {
    font-size: 40px;
    left: 0px;
  }
  .content h1.one span {
    font-size: 40px;
  }
  .content h1.two {
    font-size: 47px;
    letter-spacing: -1px;
    line-height: 47px;
  }
  .content h1.three {
    font-size: 65px;
    letter-spacing: -2px;
    line-height: 65px;
    left: -1px;
    position: relative;
  }
  .social {
    bottom: 5%;
  }
  img.quote {
    width: 70%;
    position: fixed;
    bottom: 11%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .content h1.one {
    font-size: 40px;
    left: 6px;
  }
  .content h1.one span {
    font-size: 40px;
  }
  .content h1.two {
    font-size: 62px;
    line-height: 62px;
  }
  .content h1.three {
    font-size: 90px;
    line-height: 70px;
    position: relative;
    left: -2px;
  }
  .content ul.nav {
    margin-top: 60px;
  }
  img.quote {
    width: 500px;
    bottom: 105px;
  }
  .main-img {
    height: 85vh;
    display: flex;
  }
  .main-img img {
    align-self: center;
  }
}
