


section.homePageBannerSection {
    height: calc(100vh);
    background-color: var(--white-color);
    overflow: hidden;
}





.homeBannerContainer {
    text-align: right;
    height: 100%;
}
.homeBannerContentHolder {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 42%;
    margin-right: -240px;
}
.homeBannerContentHolder ul {
    position: absolute;
}
.homeBannerImageHolder {
    display: inline-block;
    vertical-align: middle;
    width: 62%;
    position: relative;
    z-index: 1;
}
.homeBannerImageHolder img{width: 100%;}


.homePageBannerSection h1 {
    font-family: var(--abril);
    font-size: 82px;
    letter-spacing: 0px;
    line-height: 95px;
    text-align: right;
    font-weight: 300;
    position: relative;
    z-index: 1;
}
.homePageBannerSection a.homeBannerLogo {
    position: absolute;
    left: 100px;
    top: 30px;
}
.homePageBannerSection h1 i {
    content: ' ';
    display: block;
    height: 320px;
    width: 750px;
    border: 8px solid var( --red-color);
    position: absolute;
    top: 50%;
    right: -590px;
    margin-top: -160px;
    z-index: -1;
}

.homePageBannerSection h1 span {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 81px;
    letter-spacing: -3px;
    display: block;
}


.homeBannerContentHolder ul li{
    color: #f6f6f6;
    font-size: 40px;
    position: absolute;
}
.homeBannerContentHolder ul li:first-child {
    top: -150px;
    left: -100px;
}
.homeBannerContentHolder ul li:nth-child(2) {
    top: -200px;
    left: 150px;
}
.homeBannerContentHolder ul li:nth-child(3) {
    top: -280px;
    left: 200px;
}
.homeBannerContentHolder ul li:nth-child(4) {
    top: -250px;
    left: 400px;
}
.homeBannerContentHolder ul li:nth-child(5) {
    top: -340px;
    left: 570px;
}
.homeBannerContentHolder ul li:nth-child(6) {
    top: -220px;
    left: 750px;
}
.homeBannerContentHolder ul li:nth-child(7) {
    bottom: -80px;
    left: 0px;
}
.homeBannerContentHolder ul li:nth-child(8) {
    bottom: -170px;
    left: 170px;
}
.homeBannerContentHolder ul li:nth-child(9) {
    bottom: -100px;
    left: 360px;
}
.homeBannerContentHolder ul li:nth-child(10) {
    bottom: -80px;
    left: 560px;
}
.homeBannerContentHolder ul li:nth-child(11){
	bottom: -100px;
	left: 800px;
}










.aboutContent {
    display: table-cell;
    width: 65%;
    padding-right: 110px;
}
.aboutSection{
    padding-bottom: 80px;
}
.aboutImage {
    display: table-cell;
    width: 35%;
    vertical-align: top;
}
.aboutImage .imgHolder{
	display: inline-block;
	position: relative;
}
.aboutImage .imgHolder:before {
    content: ' ';
    display: block;
    min-height: 100%;
    width: 100%;
    border: 9px solid var(--red-color);
    position: absolute;
    box-sizing: border-box;
    top: 80px;
    left: 80px;
    z-index: -1;
}
.aboutContent p {
    font-size: 24px;
    font-weight: 300;
    color: #666;
    line-height: 32px;
    margin-top: 30px;
}



.workSection{
	background-color: var(--white-color);
	text-align: center;
}
.workList  {
    max-width: 93%;
    margin: 60px auto 0;
}
.workList li {
    display: inline-block;
    width: 47%;
    margin: 0.8%;
}
.workList li a {
    display: block;
    position: relative;
}
.workList li a .work-overlay {
    position: absolute;
    background-color: rgba(208, 13, 15, 0.85);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 70px;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
}
.workList li a .work-overlay2 {
    position: absolute;
    background-color: rgba(0,0,0, 0.35);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 110px;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
}
.workList li a:hover .work-overlay{
	opacity:1;
	transition: all 0.2s ease-in-out 0s;
}
.workList li a:hover .work-overlay2 {opacity: 0; transition: all 0.2s ease-in-out 0s;}
.workList li .work-overlay h3, .workList li a .work-overlay2 h3 {
    font-size: 35px;
    color: #fff;
    font-family: var(--abril);
    font-weight: 300;
    margin-bottom: 10px;
}
.workList li .work-overlay p{
	font-size: 20px;
    color: #fff;
    font-weight: 300;
    line-height: 25px;
}
.workList li a .work-overlay i:before {
    display: block;
    content: '→';
    color: #fff;
    font-size: 22px;
    margin-top: 15px;
    position: relative;
    left: -100%;
    transition: all 0.2s ease-in-out 0.2s;
}
.workList li a:hover .work-overlay i:before{
	left: 0;
	transition: all 0.2s ease-in-out 0.2s;
}









.blogContainer {
    background-color: var(--red-color);
    max-width: 90%;
    margin: 120px auto;
    padding: 100px 160px;
    text-align: center;
}
.blogContainer h2.sectionHeading, .blogContainer h5.sectionSubHeading{
	color: #fff;
}
.blogContainer .blogHolder ul {
    float: left;
    width: 930px;
}
.blogContainer .blogHolder ul:last-child {
    float: left;
    width: 466px;
}
.blogContainer .blogHolder {
    display: table;
    clear: both;
    width: 1397px;
    margin-top: 60px;
}
.blogHolder li a{
	position: relative;
	display: block;
}
.blogHolder li a .blog-content {
    position: absolute;
    text-align: left;
    bottom: 0;
    padding: 30px 30px 50px;
    box-shadow: inset 0 -140px 91px -60px rgba(0,0,0,.5);
}
.blogHolder li a .blog-content h2 {
    font-size: 40px;
    color: #fff;
    font-family: var(--abril);
    font-weight: 300;
    line-height: 42px;
    max-width: 80%;
}
.blogHolder li a .blog-content h4 {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.blogHolder ul:last-child li a .blog-content{
	padding-bottom: 30px;
}
.blogHolder ul:last-child li a .blog-content h2 {
    font-size: 25px;
    line-height: 28px;
}
.blogHolder ul:last-child li a .blog-content h4 {
    font-size: 17px;
    margin-bottom: 10px;
}






@media (max-width: 1024px) and (min-width: 768px){
header + section {
    margin-top: 0px !important;
}
.homeBannerContainer {
    position: relative;
}
.homeBannerContentHolder {
    display: block;
    vertical-align: middle;
    text-align: left;
    width: auto;
    margin-right: 0;
    position: absolute;
    left: 40px;
    top: 50%;
    margin-top: 0px;
}
.homeBannerImageHolder {
    display: block;
    width: 100%;
    height: 100%;
    position: static;
}
.homeBannerImageHolder img {
    width: 1270px;
    max-width: inherit;
    margin-right: 44px;
}
.homePageBannerSection a.homeBannerLogo {
    left: 40px;
    top: 40px;
    max-width: 150px;
}
.homeBannerContentHolder ul {
    display: none;
}
.homePageBannerSection h1 {
    font-size: 70px;
    line-height: 70px;
    text-align: left;
    transform: none !important;
}
.homePageBannerSection h1 span {
    font-size: 60px;
}
.homePageBannerSection h1 i {
    display: none;
}
.blogContainer {
    max-width: 100%;
    margin: 0;
    padding: 50px 40px;
}
.blogContainer .blogHolder {
    display: block;
    margin-top: 50px;
    width: auto;
}
.blogContainer .blogHolder ul {
    float: none;
    width: auto;
}
.blogContainer .blogHolder ul:last-child {
    float: none;
    width: 100%;
    clear: both;
    display: table;
}
.blogContainer .blogHolder ul:last-child li{width: 50%;
    float: left;
}
.blogHolder li a .blog-content h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.blogHolder li a .blog-content h2 {
    font-size: 30px;
    line-height: 35px;
    max-width: 100%;
}
.workList {
    max-width: 100%;
    margin: 40px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.workList li a .work-overlay2 {
    padding: 50px 0px;
}
.workList li .work-overlay h3, .workList li a .work-overlay2 h3 {
    font-size: 25px;
}
.workList li {
    width: 48.5%;
    margin: 0 0 3%;
}
.aboutContent p {
    font-size: 21px;
    line-height: 28px;
}
.homePageBannerSection + .aboutSection {
    padding-bottom: 0;
}
.aboutSection .aboutContent {
    display: block;
    width: 100%;
    padding-right: 0;
    text-align: center;
}
.aboutSection .aboutImage {
    display: none;
}
.aboutSection .aboutContent .blankButton {
    margin: 30px 0 0 !important;
}
.homeBannerImageHolder:before{
    content: ' ';
    display: block;
}
}



@media (max-width: 767px) {
section.homePageBannerSection {
    margin-top: 0px !important;
}
.homeBannerContainer {
    text-align: left;
    height: 100%;
}
.homePageBannerSection a.homeBannerLogo {
    left: 20px;
    top: 20px;
    max-width: 110px;
}
.homeBannerContentHolder {
    display: block;
    text-align: left;
    width: 100%;
    margin-right: 0;
    position: absolute;
    z-index: 9;
    bottom: 140px;
    padding-left: 20px;
}
.homePageBannerSection h1 {
    font-size: 35px;
    line-height: 40px;
    text-align: left;
    transform: none !important;
}
.homePageBannerSection h1 span {
    font-size: 33px;
    letter-spacing: -1px;
}
.homeBannerContentHolder ul {
    display: none;
}
.homeBannerImageHolder {
    display: block;
    width: 100%;
    height: 100%; 
}
.homeBannerImageHolder img {
    width: 800px;
    max-width: inherit;
    margin-top: 10px;
    position: relative;
    right: 70px;
    bottom: 0px;
}
.homePageBannerSection h1 i {
    display: none;
}
.aboutImage {
    display: none;
}
.aboutContent {
    display: block;
    width: 100%;
    padding-right: 0;
    text-align: center;
}
.aboutContent p {
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
}
.aboutContent .blankButton{margin-top: 25px;}
.aboutSection {
    padding-bottom: 0;
}
.workList {
    max-width: 100%;
    margin: 30px 0 0;
}
.workList li {
    display: block;
    width: 100%;
    margin: 0 0 15px;
}
.workList li a .work-overlay2 {
    padding: 50px 0px;
}
.workList li .work-overlay h3, .workList li a .work-overlay2 h3 {
    font-size: 25px;
}
.workList li:last-child{margin-bottom: 0px;}
.blogContainer {
    max-width: 100%;
    margin: 0px auto;
    padding: 40px 20px;
}
.blogContainer .blogHolder {
    display: block;
    width: auto;
    margin-top: 40px;
}
.blogContainer .blogHolder ul, .blogContainer .blogHolder ul:last-child {
    float: none;
    width: 100%;
}
.blogContainer .blogHolder ul li{margin-bottom: 20px;}
.blogHolder li a .blog-content {
    padding: 20px;
}
.blogHolder li a .blog-content h2 {
    font-size: 25px;
    line-height: 30px;
    max-width: 95%;
}
.blogHolder li a .blog-content h4 {
    font-size: 17px;
    margin-bottom: 10px;
}


}




@media (max-width: 1600px) and (min-width: 1200px){
.homeBannerContentHolder {
    width: 50%;
    margin-right: -30px;
}
.homeBannerImageHolder {
    width: 49%;
}
.homePageBannerSection a.homeBannerLogo {
    max-width: 135px;
}
.homeBannerImageHolder img {
    width: 940px;
    right: 170px;
    position: relative;
    max-width: inherit;
}
.homePageBannerSection h1 {
    font-size: 64px;
    line-height: 75px;
}
.homePageBannerSection h1 span {
    font-size: 58px;
}
.homePageBannerSection h1 i {
    height: 270px;
    width: 710px;
    border: 7px solid var( --red-color);
    right: -610px;
    margin-top: -140px;
}
.aboutContent p {
    font-size: 21px;
    line-height: 28px;
    margin-top: 25px;
}
.blogContainer {
    padding: 100px 60px;
}
.blogContainer .blogHolder {
    width: 1051px;
    margin: 60px auto 0;
}
.blogContainer .blogHolder ul {
    width: 700px;
}
.blogContainer .blogHolder ul:last-child {
    width: 351px;
}
header + section {
    margin-top: 0px !important;
}
.homeBannerContentHolder ul li {
    font-size: 32px;
}
.homeBannerContentHolder ul li:first-child {
    top: -130px;
    left: 10px;
}
.homeBannerContentHolder ul li:nth-child(2) {
    top: -180px;
    left: 170px;
}
.homeBannerContentHolder ul li:nth-child(3) {
    top: -260px;
    left: 220px;
}
.homeBannerContentHolder ul li:nth-child(4) {
    top: -220px;
    left: 350px;
}
.homeBannerContentHolder ul li:nth-child(5) {
    top: -300px;
    left: 490px;
}
.homeBannerContentHolder ul li:nth-child(6) {
    top: -190px;
    left: 550px;
}
.homeBannerContentHolder ul li:nth-child(7) {
    bottom: -80px;
    left: 80px;
}
.homeBannerContentHolder ul li:nth-child(8) {
    bottom: -150px;
    left: 170px;
}
.homeBannerContentHolder ul li:nth-child(9) {
    bottom: -80px;
    left: 350px;
}
.homeBannerContentHolder ul li:nth-child(10) {
    bottom: -120px;
    left: 470px;
}
}