.header-container.bg-main-color {
    padding: 120px 5% 50px;
    align-items: flex-start;
    flex-direction: column;
}
.heading h1 {
    font-size: 36px;
}
.heading h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 15px;
}
.share h4 {
    font-size: 15px;
    letter-spacing: 1px;
}
.content-container {
    max-width: 88%;
    margin: 60px auto 60px;
}
.blog-content p {
    line-height: 26px;
    margin-bottom: 40px;
}
.blog-content h2 {
    font-size: 25px;
    margin: 50px 0 30px;
    line-height: 32px;
}
.blog-content h2 span {
    font-size: 25px;
}
.note {
    padding: 20px 30px;
    background-color: rgba(209, 112, 141, 0.18);
    max-width: 100%;
    margin: 50px 0 60px 0%;
}
.note p {
    margin: 0px;
    font-size: 16px;
    line-height: 21px;
}
.related-blogs {
    padding: 15% 6%;
    max-width: 100%;
}
.related-blogs h2 {
    font-size: 25px;
    margin: 0px 0 30px;
}
.related-blogs li {
    margin-bottom: 10px;
    margin-left: 5px;
}
.related-blogs li {
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 30px;
}
.related-blogs li::before {
    position: absolute;
    left: 15px;
}
div#disqus_thread {
    max-width: 84%;
    margin: 100px auto 0;
}
code span.token {
    font-size: 14px;
    line-height: 12px !important;
    display: inline-block;
}

















section.in.blogs header {
    background-color: #d1708d;
    box-shadow: none;
}